@charset "utf-8";
body,dd,dl,dt,fieldset,h1,h2,h3,h4,h5,html,img,legend,li,ol,p,ul{margin:0;padding:0;}
body{color:#666; background-color: #eee; font-size:16px;font-family: "微软雅黑", serif;}
ol,ul{list-style:none;}
img{display:block;border:none;}
a{color:#666;text-decoration:none;}
a:hover{color:#ba44ad;text-decoration:none;}
.content{width: 96%; margin: 0 auto;}
table{width: 100%; border-collapse: collapse; margin: 10px 0; background-color: white;}
table thead{background-color: #f7a75f; text-align: center; border: 0; color: white;}
table td{border: 1px #ccc solid; text-align: center; padding: 10px 0;}
